<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP:X-Requested-With} !=XMLHttpRequest
RewriteRule ^(.+)\.[a-zA-Z0-9]+$ ../../index.php?error=403 [L]
RewriteRule ^[a-zA-Z0-9]+$ ../../index.php?error=403 [L]
RewriteRule ^$ ../../index.php?error=403 [L]
</IfModule>